<h3><i class="fas fa-book-reader"></i> StroryBooks</h3>

<div class="section">
  <p class="lead">Create public and private stories</p>
</div>
<div class="divider"></div>
<form class="login-form" action="/auth/login" method="POST">
  <div class="form-control">
    <label for="email">E-Mail</label>
    <input type="email" name="email" id="email">
  </div>
  <div class="form-control">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <input type="hidden" name="userId" value="{{userId}}">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
  </div>
  <button class="waves-effect waves-light btn blue darken-1" type="submit"><i class="fa fa-sign-in-alt"></i> Log In</button>
</form>
<div id= "dividerline" class="divider"></div>
<div class="section">
  <a href="/auth/google" class="waves-effect waves-light btn red darken-1">
    <i class="fa fa-google"></i> Log In Whith Google
  </a>

  <!-- Modal Trigger Sign Up -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1"><i class="fa fa-user-plus"></i> Sign up</a>
  
  <!-- Modal Structure SingUp -->
  <div id="modal1" class="modal">

    <div class="modal-content">
      <form class="login-form" action="/auth/signup" method="POST">
        <div class="form-control">
          <label for="email">E-Mail</label>
          <input type="email" name="email" id="email">
        </div>
        <div class="form-control">
          <label for="password">Password</label>
          <input type="password" name="password" id="password">
          <input type="hidden" name="_csrf" value="{{csrfToken}}">
        </div>
        <div class="form-control">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" name="confirmPassword" id="confirmPassword">
        </div>
        <button class="btn" type="submit">SignUp</button>
      </form>
    </div>
  </div>
</div>
<div class="section">
  <!-- Modal Trigger Sign Up -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal2"> Forgot Password ?</a>

  <!-- Modal Structure SingUp -->
  <div id="modal2" class="modal">
  
    <div class="modal-content">
      <form class="login-form" action="/auth/reset" method="POST">
        <div class="form-control">
          <label for="email">E-Mail</label>
          <input type="email" name="email" id="email">
        </div>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button class="btn" type="submit">Reset Password</button>
      </form>
    </div>
</div>